<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Quora</title>
</head> 
<body>
    <div class="nav">
    <h1>Quora Posts</h1>
    <a href="/posts/new" class="custom-link new-button">Create new post</a>
</div>
    <%  for(post of posts){%>
        <div class="post">
            <h3 class="user">@<%= post.username  %></h3>
            <h4 class="content"><%= post.content%></h4>
            <a href="/posts/<%= post.id %> " class="custom-link">Read Detail</a>
            <a href="/posts/<%= post.id %>/edit " class="custom-link anchor">Edit Page</a>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
            <button class="custom-link">Delete</button></form>
        </div>
    <%}%>
    <br>
    

</body>
</html>

